<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunnyside Agency</title>
</head>
<body>

<header class="site-header">
    <div class="site-header__row">
        <div class="site-header__col site-header__col--left">
            <a href="#">
                <img src="~/src/images/logo.svg" alt="SunnySide" class="site-header__logo" />
            </a>
        </div>
        <div class="site-header__col site-header__col--right">
            <button class="site-header__hamburger">
                <img src="~/src/images/icon-hamburger.svg" alt="Toggle Menu" class="site-header__hamburger-icon" />
            </button>
        </div>
    </div>
</header>

<main class="site-main">

    <section class="hero">
        <h1 class="hero__title">
            We Are Creatives
        </h1>
        <button class="hero__button">
            <img src="~/src/images/icon-arrow-down.svg" alt="Scroll Down" class="hero__scroll-icon" />
        </button>
    </section>

    <section class="text-img">
        <div class="container">
            <div class="text-img__row">
                <div class="text-img__col text-img__col--left">
                    <h2 class="text-img__title">Transform your brand</h2>
                    <p class="text-img__text">
                        We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.
                    </p>
                    <a href="#" class="text-img__read-more text-img__read-more--yellow">
                        Learn More
                    </a>
                </div>
                <div class="text-img__col text-img__col--right text-img__image homepage__image--transform">

                </div>
            </div>
        </div>
    </section>

    <section class="text-img">
        <div class="container">
            <div class="text-img__row text-img__row--reverse">
                <div class="text-img__col text-img__col--left">
                    <h2 class="text-img__title">Stand out to the right audience</h2>
                    <p class="text-img__text">
                        Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.
                    </p>
                    <a href="#" class="text-img__read-more text-img__read-more--red">
                        Learn More
                    </a>
                </div>
                <div class="text-img__col text-img__col--right text-img__image homepage__image--stand-out">

                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col col-12 col-desktop-6">
            <section class="card-img card-img--green homepage__image--graphic-design">
                <h2 class="card-img__title">
                    Graphic Design
                </h2>
                <p class="card-img__text">
                    Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.
                </p>
            </section>
        </div>
        <div class="col col-12 col-desktop-6">
            <section class="card-img card-img--blue homepage__image--photography">
                <h2 class="card-img__title">
                    Photography
                </h2>
                <p class="card-img__text">
                    Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
                </p>
            </section>
        </div>
    </div>

    <section class="testimonials">
        <h2 class="testimonials__title">
            Client Testimonials
        </h2>
        <div class="container">
            <div class="row">
                <div class="col col-12 col-desktop-4">
                    <article class="testimonial">
                        <img src="~/src/images/image-emily.jpg" alt="Emily" class="testimonial__picture" />
                        <p class="testimonial__text">
                            We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.
                        </p>
                        <p class="testimonial__name">
                            Emily R.
                        </p>
                        <p class="testimonial__job">
                            Marketing Director
                        </p>
                    </article>
                </div>
                <div class="col col-12 col-desktop-4">
                    <article class="testimonial">
                        <img src="~/src/images/image-thomas.jpg" alt="Thomas" class="testimonial__picture" />
                        <p class="testimonial__text">
                            Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
                        </p>
                        <p class="testimonial__name">
                            Thomas S
                        </p>
                        <p class="testimonial__job">
                            Chief Operating Officer
                        </p>
                    </article>
                </div>
                <div class="col col-12 col-desktop-4">
                    <article class="testimonial">
                        <img src="~/src/images/image-jennie.jpg" alt="Jennie" class="testimonial__picture" />
                        <p class="testimonial__text">
                            Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!
                        </p>
                        <p class="testimonial__name">
                            Jennie F.
                        </p>
                        <p class="testimonial__job">
                            Business Owner
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="row">
            <div class="col col-6 col-desktop-3 gallery__image homepage__image--gallery-milkbottles">

            </div>
            <div class="col col-6 col-desktop-3 gallery__image homepage__image--gallery-orange">

            </div>
            <div class="col col-6 col-desktop-3 gallery__image homepage__image--gallery-cone">

            </div>
            <div class="col col-6 col-desktop-3 gallery__image homepage__image--gallery-sugar-cubes">

            </div>
        </div>
    </section>

</main>

</body>
</html>