.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: map-get($spacings, 5) map-get($spacings, 4) map-get($spacings, 5) map-get($spacings, 4);
  }

  &__hamburger {
    border: none;
    background: transparent;
    padding: 0;
  }
}