.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @for $i from 1 through 12 {
    .col {
      &-#{$i} {
        width: calc(#{$i} * 100% / 12);
      }
    }
  }

  @for $i from 1 through 12 {
    .col {
      @include desktop {
        &-desktop-#{$i} {
          width: calc(#{$i} * 100% / 12);
        }
      }
    }
  }
}
